<div class='parent'><div class='add_panel'>

<p>
  <strong>Title:</strong><br>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong><br>
  <%= @article.text %>
</p>

<%= link_to 'Show Blog', articles_path %>

</div></div>
