.parent{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    background: #C6D1E2;
}

.add_panel{
    word-wrap: break-word;
    width: 450px;
    height: 250px;
    position: absolute;
    top: 25%;
    left: 50%;
    margin: -125px 0 0 -175px;
}
h1{
	text-align:center;
}
.twitte{
    box-shadow: 2px 2px 5px #888888; 
    
}
.twitte p{
    padding: 5px 2px 5px 5px;
}

